@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

* {
  box-sizing: border-box;
}

:root {
  --randomA: #000000;
  --randomB: #000000;
  --randomC: #000000;
  --randomD: #000000;

  --header-bg: #FAFAFA;
  --main-bg: #FFFFFF;

  --light: #fafafa;
  --mediumlight: #d3d3d3;
  --mediumdark: #222222;
  --dark: #101010;
  --white: #ffffff;

  --font: 'IBM Plex Sans', sans-serif;
}

html {
  visibility: hidden;
  font-family: var(--font);
  font-size: 1rem;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
  width: min(60rem, 100vw);
}

header {
  background-color: var(--light);
  border-bottom: 7px solid;
  border-image: linear-gradient(
    to right, 
    var(--randomA) 0% 25%, 
    var(--randomB) 25% 50%, 
    var(--randomC) 50% 75%, 
    var(--randomD) 75% 100%) 7;
}

  #header-logo {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

    #header-logo-brandmark {
      height: 3rem;
      max-height: 3rem;
      width: 3rem;
    }

    #header-logo-wordmark {
      cursor: default;
      margin: 0;
      padding-top: 0.5rem;
    }

main {
  flex: 1;
}